
REALM=DOMAIN.TLD
DOCKER_HOSTNAME=machine.DOMAIN.TLD

# Relative path from loadbalancer/../ssl/name.crt
SSL_CERT=../ssl/domain.tld.crt
SSL_KEY=../ssl/domain.tld.pem

# DRONE CI/CD

DRONE_SERVER_HOST=drone.${REALM}
DRONE_ADMIN=admin
DRONE_RPC_SECRET=secret

WEBHOOK_KEY=key
WEBHOOK_SECRET=secret

# Volumes

VOLUME_DRIVER=local
